[2022-07-07 10:31] Djedouas opened #4 "Refactorization - Editing Tool"
## Context

The editing tool in TOMs is based on [an old plugin](https://github.com/wonder-sk/CadNodeTool/) no longer maintained (last update in 2016).

Many functionalities of this code have been implemented into QGIS 3.x now.

## Object of this issue

Refactorize/rewrite the python code of TOMs editing tool to use QGIS 3.x functions.

## Gains

Better stability, integration, and code robustness.

[2022-07-07 10:34] Djedouas opened #5 "Refactorization - Instant Print"
## Context

The editing tool in TOMs is based on [an old plugin](https://github.com/sourcepole/qgis-instantprint-plugin/) no longer maintained (last update in 2018).

Some functionalities of this code might have been implemented into QGIS now.

## Object of this issue

Refactorize/rewrite the python code of Instant Print to use QGIS functions.

## Gains

Better stability, integration, and code rob

[2022-07-21 10:31] Traffic-Orders opened #10 "Joppa Road, TRO-22-03"
Bay was split into four instead of two (on two separate locations within the same Order draft).

PCL was made aware of this on 13/05/22:

![Joppa Road, TRO-22-03](https://user-images.githubusercontent.com/109733089/180192783-51d0cd54-d6c6-47b9-a7fd-5d31b7e7e773.JPG)
![Joppa Road, TRO-22-03 2](https://user-images.githubusercontent.com/109733089/180192838-43d6ac68-4363-45dd-b873-6ca048c623e1.JPG)
.

[2022-07-21 10:31] Traffic-Orders opened #11 "Measurement tool"
Measurement tool not allowing for measurements to be inserted, resulting in restrictions not being able to be drafted accurately. This also affects construction lines.

This was previously reported to PCL, but it remains an issue.

[2022-07-21 10:36] Traffic-Orders opened #12 "Lines appearing on footway/in random locations instead of the street."
Various – this does not occur as often as the measurement tool issue, but when it occurs it takes several attempts to get the restrictions in the correct position (one location took 30 minutes to draft):

![image](https://user-images.githubusercontent.com/109733089/180193497-4a919a7e-75cd-4e81-93a7-ed323bd216d9.png)
![image](https://user-images.githubusercontent.com/109733089/180193509-4b265123-46

[2022-07-21 10:38] Traffic-Orders opened #13 "TRO/22/03"
Drafted bay appearing as a line instead – can’t be selected/deleted on Hillside Street (reported to PCL on 18/05/22, but still not resolved):

![image](https://user-images.githubusercontent.com/109733089/180194277-b17164d2-5482-4527-8832-850e1940dff7.png)

[2022-07-21 12:54] Djedouas opened #14 "User management - privileges"
We need to create or investigate on existing roles to have users and superusers.

[2022-07-21 12:56] Djedouas commented on #14
@traffic-orders you can post here examples of situations where you need to do something that you can't, and have to ask support for help.

[2022-07-26 04:43] Traffic-Orders opened #15 "TRO-19-35"
The TRO Proposal for car club bays at a few locations included a request to replace part of a shared use bay with a car club bay on Warriston Rd held in map tile 1160. This was drafted in TOMs some time ago with part of an existing shared use bay being replaced with the proposed car club bay. However the car club bay at this location has not to be taken forward so i have today deleted the proposed

[2022-08-22 08:05] #4 closed

[2022-09-22 11:19] Traffic-Orders opened #18 "TRO/17/92A - general issue"
Hi,

There appears to be an issue with a proposal that was drafted by myself (Isabelle Knops) - my colleagues cannot see any of the restrictions I drew.

Hope this can be looked into.

Many thanks

![Isabelle Knops TRO-17-92A](https://user-images.githubusercontent.com/109733089/191732710-47b7aa64-21b7-4b22-87a5-b56b65164cb5.JPG)
![Sharon Lansdowne TRO-17-92A](https://user-images.githubusercontent.

[2022-10-05 14:46] SeanC75 opened #27 "Permissions for Holly Robertson"
Can permissions for Holly Robertson's profile be changed from read only to write and read please?

[2022-10-05 14:48] SeanC75 opened #28 "Map tile saving"
When the users create a map tile and save it, the location that is specified to save to, when accessing that file location the files are not visible.

Could you please confirm the process for retrieving printed map tiles?

[2022-10-07 12:26] Djedouas commented on #28
The map tile (PDF) has to be saved in the home folder (see picture 1).

Then the user can access this folder with AWS button in the top left-hand corner (see picture 2), wich can be then downloaded with a click on the file.

**Picture 1**

![image](https://user-images.githubusercontent.com/34267385/194553129-975f9f7e-cb32-4365-a7b1-7634d288ea3a.png)

**Picture 2**

![2022-10-07_14-22](https://user

[2022-10-07 12:46] Djedouas commented on #27
This is already the case.

The associated profile for Holly Robertson is `write_no_confirm_operator`

([see reference role table here](https://github.com/ProjectCentreLimited/TOMs/blob/develop/script/aws/DEPLOY.md#user-elevation))

[2022-10-12 08:40] Traffic-Orders opened #29 "Read only users are unable to access geometry data"
Read only users are unable to access geometry data for parking places and restrictions. This data is accessed regularly and needs to be available to all users.
![TOMs](https://user-images.githubusercontent.com/109733089/195294176-e76a4a25-2001-469c-9f29-caa46e70c1cc.jpg)

[2022-10-12 16:17] Djedouas commented on #29
I see the problem. I will fix it ASAP.

[2022-10-14 07:15] SeanC75 opened #31 "TOMs rogue inclusion of map tile(s) TRO/21/17 = 1812 and TRO/21/15 = 1220 & 1279"
We cannot take TRO/21/18 forward to advert (various CPZ amendments including Nightingale Way) because TOMs has incorrect version numbers of tiles for 1279 & 1220. This appears to relate to the confirmed TRO/21/15 that TOMs only produced map tiles for 1221+1280 only, which were updated on 12/9/22 when that Order came info effect. Below is for info only relating to how I think this issue has come ab

[2022-10-14 08:17] #28 closed, assigned to nobody

[2022-10-14 08:18] SeanC75 commented on #28
Thanks for the info

[2022-10-14 13:39] #29 closed, assigned to nobody

[2022-10-14 13:41] Djedouas commented on #29
Log-out and log back in for the fix to take effect.

[2022-10-17 10:05] SeanC75 commented on #31
Is it possible to take a look at this issue please? Let us know if more information is needed.

[2022-10-18 07:48] Djedouas commented on #31
I'll have a look today

[2022-10-18 07:49] SeanC75 commented on #31
Thanks.

From: Jacky Volpes ***@***.***>
Sent: 18 October 2022 08:48
To: ProjectCentreLimited/TOMs ***@***.***>
Cc: Sean Casey ***@***.***>; Author ***@***.***>
Subject: Re: [ProjectCentreLimited/TOMs] TOMs rogue inclusion of map tile(s) TRO/21/17 = 1812 and TRO/21/15 = 1220 & 1279 (Issue #31)

Caution: This e-mail originates from outside MHL, exercise caution with any instructions in the content,

[2022-10-18 10:16] Traffic-Orders opened #32 "Splitting Tool"
Hi,

Hope you can help.
![Splitting tool 2](https://user-images.githubusercontent.com/109733089/196403358-30733148-7a6e-49ed-819d-6dfead290a7c.JPG)

I have just used the splitting tool to split a single yellow line and noticed that part of the split line jumped onto the pavement for some reason. In this case, this won't be a problem, as I will be deleting that part of the restriction.  However, th

[2022-10-18 10:22] Traffic-Orders opened #33 "TOMs getting stuck on an action while drafting"
Hi,

To make you aware, there appears to be an issue with TOMs randomly getting stuck on an action while drafting, forcing you to log out and sign in again (this will be restart number 5/6 today).

Found this difficult to screenshot to provide an example, but made an attempt:
![TOMs getting stuck](https://user-images.githubusercontent.com/109733089/196404505-0be7da0c-1083-44bf-b799-16a7eb38935d.JP

[2022-10-18 13:46] Djedouas commented on #27
Is everything ok here?

[2022-10-18 13:53] Djedouas commented on #33
Hi,

Thanks for the screenshot attempt, it could be of huge help.

This one is not really clear as to what the problem is, I can see that TOMs toolbar is completely disabled (tools and icons are gray) and should never be during drawing, how did it happen?

[2022-10-18 13:55] Djedouas commented on #32
Hi,

I'm very interested into the exact location (and proposal) where this happened, to reproduce.

[2022-10-18 14:05] Djedouas commented on #31
If I understand correctly, tiles 1279 and 1220 currently have a version number of 6, which seems to have been wrongly increased during TRO/21/15, so they should have a version number of 5?

[2022-10-18 16:48] Djedouas commented on #31
Can you please describe what is technically blocking, at which step you see that the tile version number is incorrect, so I can reproduce (and learn) the workflow, and see what the problem is?

[2022-10-19 08:05] Traffic-Orders opened #34 "Error message when accepting proposal for TRO-22-04"
Hi we are making TRO/22/04 today 19/10/22 and with a coming into effect date of 05/12/2022 however when attempting to accept the proposal on TOMs this morning i continued to get the below error message. This needs accepted today with the coming into effect date as per above so that we can prepare the necessary map tiles for public inspection when the Order is advertised on Friday 21/10/22. As such

[2022-10-19 08:40] Djedouas commented on #34
Hi,

Has it happened before or is it the first time an order is being accepted on this TOMs version?

[2022-10-19 09:16] Traffic-Orders commented on #34
This is the first time i have tried to accept since the new version of the system was released. before that i could accept proposals

[2022-10-19 09:28] Traffic-Orders commented on #33
Hi,

The toolbar is greyed out as I was trying to get in out of the proposal to get things working again - afraid nothing changed, and the action remained stuck until I logged out of TOMs.

Many thanks

[2022-10-19 09:34] Traffic-Orders commented on #32
Hi,

This is location Bell's Mells, which is being amended under proposal TRO/22/16.

Many thanks

[2022-10-19 09:58] Djedouas commented on #34
I made some fixes.

You can log out, and log back in, and try again, please.

[2022-10-19 10:35] Traffic-Orders opened #35 "Unable to use TOMs due to too many users being active"
Hi,

The below appears to be still an issue:
![TOMs issue](https://user-images.githubusercontent.com/109733089/196667778-844c5ad8-4328-4eab-8fe3-e8d8cfc57b33.JPG)

Could this please be looked into?

Many thanks

[2022-10-19 10:36] Djedouas commented on #35
@benoitdm-oslandia ?

[2022-10-19 10:36] Traffic-Orders commented on #34
My session timed out so i attempted to initiate the system but the system shows connecting then the system just hangs see below snippet
![image](https://user-images.githubusercontent.com/109733089/196668467-7339f16a-303a-4e84-ac57-1aad90e36a56.png)

[2022-10-19 13:54] Djedouas commented on #34
This seems like a long loading time. Is it working now?

[2022-10-19 14:17] Traffic-Orders commented on #35
for info:
![No streaming resources available](https://user-images.githubusercontent.com/109733089/196716945-f8080a45-6f02-45f2-baa9-9615afec4bcd.JPG)

[2022-10-19 15:26] Djedouas commented on #32
Hi,

I was able to reproduce.

It's not expected that the part of the yellow line jumps onto the pavement, but **this is a normal  behavior of TOMs**.

### Here is why and how to deal with it:

The direction to the road center is automatically computed when the geometry is drawn.
This is a numerical value, which can be viewed and edited in the restriction details.
When the line is drawn, exactly o

[2022-10-19 15:29] Djedouas commented on #33
Does it happen when creating the restriction, or drawing construction lines, or editing...? which specific tool? or any tool?

[2022-10-19 15:30] Djedouas commented on #11
What does "inserting a measurement" mean?

[2022-10-19 15:31] Djedouas commented on #10
Split tool has had big internal changes in the way it works.

Closing this issue.

Don't hesitate to open a new one if it appears again.

[2022-10-19 15:31] #10 closed, assigned to nobody

[2022-10-19 15:37] Traffic-Orders commented on #33
Hi,

So far it happened when I drew yellow line restrictions, a bay and constructions lines, not sure if it would happen with other tools.

[2022-10-19 15:38] benoitdm-oslandia commented on #35
@Traffic-Orders we are investigating this database issue: some connection to the database are not closed properly and stay idle for a long time, at final there is no more free db connection. I add a timeout parameter in the database to handle this.

Let me know.

[2022-10-19 16:05] Djedouas commented on #33
What do you mean by "getting stuck on an action"? Is everything frozen? Every other tool, the map...

Maybe in the status bar there is something going on, loading...?

![image](https://user-images.githubusercontent.com/34267385/196745104-d517a726-d35e-43ec-b25b-06caa644db56.png)

[2022-10-19 16:10] Djedouas commented on #18
This issue occurred before switching to the Oslandia/AWS version of TOMs.

What is the status today?

[2022-10-19 16:15] Traffic-Orders commented on #33
Hi,

I suppose frozen would be a good synonym. I'm not sure how else to describe it, nothing appears to be loading and the only thing that appears to unfreeze the previously selected action, is signing out and back in.

[2022-10-19 16:17] Traffic-Orders commented on #18
Hi,

this is still an issue, but now I too (Isabelle Knops) am no longer able to see the restrictions I drafted, which is an issue:
![17-92A](https://user-images.githubusercontent.com/109733089/196747560-87dc8104-ce55-4d35-9423-c35aff539022.JPG)

[2022-10-19 16:30] Djedouas commented on #33
Difficult issue...

For sure, signing out and back in resolves the problem, because it completely resets all TOMs interface and all tools.

[2022-10-19 16:32] Djedouas commented on #18
Can you see the restriction when TOMs panel is not activated at all?

Deselect TOMs icon:

![image](https://user-images.githubusercontent.com/34267385/196750573-dc14a448-a6f0-4b99-a087-c56daa8cf78a.png)

And go to this location to see what appears. Normally there is no filter so if you can't see the restriction, it has not been migrated to this version and need to be created again.

[2022-10-19 16:38] Djedouas commented on #15
Ok, done!

[2022-10-19 16:38] #15 closed, assigned to nobody

[2022-10-19 16:40] Djedouas commented on #32
If it's clear enough for you, I let you close the issue.

[2022-10-20 08:18] SeanC75 commented on #34
The user got the following error message: “ERROR: new row violates row-level security policy for table “proposals””

[2022-10-20 08:22] Djedouas commented on #34
Good news, that means we fixed the first bug 😄

Thanks for the update, I'll keep looking.

[2022-10-20 08:44] Traffic-Orders commented on #18
Did as you said, and I could see the restrictions:
![17-92A 2](https://user-images.githubusercontent.com/109733089/196900306-add4b887-529f-40d9-89fb-540cc04675a7.JPG)

But they disappeared again once the toolbar was activated.

Many thanks

[2022-10-20 08:54] Djedouas commented on #34
@SeanC75 @Traffic-Orders who is the user?

[2022-10-20 09:05] Traffic-Orders commented on #34
Hi, the user is Sharon Lansdowne

[2022-10-20 09:12] SeanC75 commented on #34
The error logged today was from Gavin Reid

[2022-10-20 09:20] Djedouas commented on #13
This appears to be a drawing problem.

I examined the two bays (1 and 2 on the picture below) and they both have a segment going left. The yellow lines are the ones that are drawn.

![image](https://user-images.githubusercontent.com/34267385/196908698-bd063dc6-141f-404d-b6ea-6e9f0ad7c244.png)

But the bay in between only has one segment, so to be like the other 2 bays you have to edit the restrict

[2022-10-20 09:21] Djedouas commented on #13
Tell me if you prefer me to fix it.

[2022-10-20 09:39] Traffic-Orders commented on #13
Hi,

Thanks for looking into this. If you could fix this, that would be much appreciated :)

[2022-10-20 09:47] Djedouas commented on #34
OK the problem should be fixed @SeanC75 @Traffic-Orders

A low-level security policy was blocking all `write_confirm_operator` users to confirm orders.

Signing out and back in should resolve the problem now.

[2022-10-20 10:16] Traffic-Orders commented on #34
Hi thank you for your help, i have successfully accepted the proposal under TRO/22/04

[2022-10-20 10:16] #34 closed, assigned to nobody

[2022-10-20 11:57] Traffic-Orders commented on #32
Hi,

Afraid that this shouldn't be closed, as it does not resolve the issue for us. This was previously raised with PCL, as it's an ongoing matter. If we were to follow your instructions, that would cost us a lot of time whilst drafting - as this occurs on a regular basis (sometimes it rectifies itself if you start drafting from a different angle or draft the restriction in segments?). Is there a

[2022-10-20 12:37] Djedouas commented on #32
It's a complicated problem. Defining where is the road center direction depends on many situations.

Particularly when the restriction contains direction changes.

I see that you were familiar with this parameter, and for this splitting issue it solves the problem.

So I close this issue, which is specific to this split, and has been resolved, to open a more generic issue about this geometrical pr

[2022-10-20 12:37] #32 closed, assigned to nobody

[2022-10-20 12:45] Djedouas opened #36 "Improve automatic restriction placement towards the road center line"
Comment posted by @Traffic-Orders in https://github.com/ProjectCentreLimited/TOMs/issues/32#issuecomment-1285400339 asks for a better reliability on restriction placement, in comparison to the road centerline.

Issues #42, #43, #12 also show geometrical issues and have been closed in favor of this follow-up issue.

Here is a discussion issue about this.

[2022-10-20 12:48] Djedouas commented on #36
@Traffic-Orders how often does it happen that you should adjust *Direction to road centerline* because of a bad placement?

We have to decide whether it's justified to completely redesign the tool computation, or if an interface/ergonomic way of dealing with this case can be sufficient.

You can post here every time it happens, with snapshots.

[2022-10-20 13:03] Djedouas commented on #13
Done ✅

[2022-10-20 13:03] #13 closed, assigned to nobody

[2022-10-25 09:40] Traffic-Orders commented on #11
Entering a measurement :)

[2022-10-25 12:25] Traffic-Orders opened #37 "No access available to TOMs"
Constantly getting message no streaming resources available, TRO team have requested we are given priority via PCL, awaiting feedback. Isabelle and I are both experiencing this problem just now
![image](https://user-images.githubusercontent.com/109733089/197772355-40f8b8bb-dec8-419f-a268-90af15a2c61d.png)

[2022-10-25 12:28] Traffic-Orders commented on #35
Hi,

Is an update available for this, as this is still a problem:
![TOMs not working](https://user-images.githubusercontent.com/109733089/197772690-fefc6aa6-43e8-48a9-a132-ec93e96872c1.JPG)

Many thanks

[2022-10-25 12:28] Djedouas commented on #11
So you mean that there is an issue with this tool:

![image](https://user-images.githubusercontent.com/34267385/197772575-d0ccd641-c7f6-4177-8e7b-2db8320198d1.png)

which is the **Advanced Digitizing Panel**?

Because the measurement tool is this icon: ![image](https://user-images.githubusercontent.com/34267385/197772729-64821f62-fdb5-4091-a00f-43ae4b01b3a5.png)

---

Please provide a screenshot,

[2022-10-25 12:30] Djedouas commented on #37
Thanks for the info, this issue is already being followed in #35

[2022-10-25 12:30] #37 closed, assigned to nobody

[2022-10-25 12:36] Djedouas commented on #35
@Traffic-Orders in order to keep you updated on the problem:

## First problem: AWS availability

![image](https://user-images.githubusercontent.com/34267385/197773610-d4ecb631-2cd6-4199-a033-e5adc2e1dde4.png)

This is due to AWS resource availability, which we have to tune and find the right balance between
- always keeping 1, 2, or 3 session(s) available
- the cost per unused session which are o

[2022-10-25 12:37] Djedouas commented on #33
Hi,

Is it still happening?

[2022-10-25 12:39] Djedouas commented on #27
@SeanC75 have you checked if the problem is still happening?

[2022-10-25 12:39] Djedouas commented on #18
Investigating...

[2022-10-25 13:04] Djedouas commented on #12
Have you played with **Direction to road centerline** parameter in the restriction form?

see https://github.com/ProjectCentreLimited/TOMs/issues/32#issuecomment-1284193196

if you have already played with it, and the symbol is still randomly appearing, I need you to write a short workflow for me to reproduce the issue (exact location on the map, restriction, zoom-out and zoom-in screenshots)

[2022-10-25 13:43] Djedouas commented on #18
That was a *tricky* one!

Your very **first** screen capture shows TRO **/** 17 **/** 92A

![image](https://user-images.githubusercontent.com/34267385/197788973-d8d6f559-e809-4ea6-b008-4fae19c5b38c.png)

and **every** other screen captures show TRO **-** 17 **-** 92A

![image](https://user-images.githubusercontent.com/34267385/197789481-6514c719-0d41-4802-8c2a-7dcedefcaf98.png)

not easy to find!

[2022-10-25 13:50] Djedouas commented on #18
I can try to merge the 2 proposals, but it implies manual tuning in the database.

As an example, they have different open dates and notes.

![image](https://user-images.githubusercontent.com/34267385/197791571-1be8a0c6-9930-435f-ae35-fd88545a8264.png)

[2022-10-25 16:40] Djedouas opened #39 "Better split tool"
Hi @traffic-orders

Following the first feedbacks we got, here is an enhancement for the split tool I've implemented.

- after the split is done, it will be auto-saved and TOMs will get back to its normal state (as it was before with the previous version of TOMs) with every piece of the split visible on the screen
- you will now be able to do **multi-split**
- there is a **1 sec delay after ending

[2022-10-26 08:37] Traffic-Orders commented on #18
Thank you for getting to the bottom of this! Much appreciated.

[2022-10-26 08:37] #18 closed, assigned to nobody

[2022-10-27 08:05] greid12 opened #40 "Tabs in the bottom left"
Is it possible to reinstate the browser tab which was in the bottom left. It allowed access to load in things from outside and allow us to carry out key tasks.

[Issue 1.docx](https://github.com/ProjectCentreLimited/TOMs/files/9877184/Issue.1.docx)

[2022-10-27 10:06] Djedouas commented on #40
Hello,

What key tasks are you talking about? There have been a lot of changes compared to the previous TOMs version, and we can't rely on working with files in the explorer, because every time the user logs out everything is deleted, and at logging time a completely new session is created from scratch.

[2022-10-27 11:14] greid12 commented on #40
Hi Jacky,

We have a process to carry out kerb line updates for CEC.

The process involves creating shapefiles from CAD drawings and adding the shapefiles into existing attribute tables. To do so they need to be loaded in via google drive and once there saved locally on TOMs, from this we used a browser tab which was in the bottom left and that loaded the files into the correct area. This tab is n

[2022-10-27 12:51] Djedouas commented on #40
OK I see.

I can add the browser tab for users with `write_can_confirm_operator` rights, is it sufficient?
Same question for the attribute table icon, and edit layer icon.

I was mistaken, the files are kept between sessions, in the home directory.

The process will be different, because now you can upload directly your shapefiles into your AWS session (no need for a Google Drive intermediate anym

[2022-10-27 13:50] Djedouas commented on #40
Just added the browser panel back for `write_can_confirm_operator`

[2022-10-27 13:51] greid12 commented on #40
Thanks Jacky,

I will have a look and see if I can perform the action required but should all be good.

Thanks,

Gavin

From: Jacky Volpes ***@***.***>
Sent: 27 October 2022 14:50
To: ProjectCentreLimited/TOMs ***@***.***>
Cc: Gavin Reid ***@***.***>; Author ***@***.***>
Subject: Re: [ProjectCentreLimited/TOMs] Tabs in the bottom left (Issue #40)

Caution: This e-mail originates from outside MHL,

[2022-10-28 07:59] #27 closed, assigned to nobody

[2022-10-28 08:00] SeanC75 commented on #27
Closed as no info from user so assuming working as expected

[2022-10-31 12:19] Traffic-Orders commented on #11
Hi,

The post from July refers to the first screenshot you've provided.

At the time it was occasionally not possible to enter a measurement (and at times, when it did allow for this to be entered, the system would not reflect this and not create a circle). This may still be happening - would there be a way for you to check on a test system?

[2022-10-31 12:24] Traffic-Orders commented on #33
Hi,

Would it be possible for this to be checked in a test system on your end?

Many thanks

[2022-10-31 14:47] Djedouas commented on #33
We have yet to create the test system.

However, I've been drafting some restrictions in a test proposal from time to time, and never experienced any freeze 😕

[2022-11-01 10:32] SeanC75 opened #41 "TRO/21/12 map tile 689"
We are not convinced this is correct, the DYLs being added are at the junc of Sandpiper Rd with Newhaven Pl, see snipper below of existing map tiles 630 & 689.

![image](https://user-images.githubusercontent.com/115094257/199214112-b5f196e7-b247-4f66-ba36-09fd8dd3ad12.png)

So not sure why 689 should not be included in the proposal for TRO/21/12.

[2022-11-01 10:33] SeanC75 opened #42 "TRO/22/03 further issues"
There are some other issues that cropped up while drafting, that will require your assistance.

The following happened when I drafted a shared use space on Hillside Street, no bay was created, just a line:

![image](https://user-images.githubusercontent.com/115094257/199214410-906cf43e-83dc-4886-904f-a77c633d1156.png)

Plan:

![image](https://user-images.githubusercontent.com/115094257/199214428-c

[2022-11-01 10:34] SeanC75 opened #43 "TOMs error - TRO/17/92A"
Also, not sure if you might be able to assist with the following, I raised a while ago. Part of the yellow lines drafted won’t snap onto the road and appear on the pavement instead. With the new version of TOMs being live now, I gave drafting this another go, but the same issue occurs:

![image](https://user-images.githubusercontent.com/115094257/199214575-945b18a2-fb0a-43c3-a45c-65bef14e365a.png)

[2022-11-01 10:36] SeanC75 commented on #31
@Djedouas is it possible to tag traffic orders in this item for them to reply as I don't seem to be able to?

[2022-11-01 10:38] suhaibahmad97 opened #44 "TOMS not showing changes made"
Despite saving restrictions which are being edited, these changes are not being shown after a few hours.

 The TOMS account says WRITE LIVE which means I am authorised to make changes.

My manager had to use his account to redo the changes that I had originally done as it showed uncompleted on his account.

Why are the changes being made not being saved on my account ?

Kind regards.

[2022-11-01 10:46] EduardoMartin-Moral opened #45 "Client Logo not showing when printing tiles"
I am printing tiles via TOMS and where it is supposed to appear the CEC logo I only see a red cross.
![image](https://user-images.githubusercontent.com/117166421/199216511-6aa27462-0216-4c0d-b0f3-e1a9afecb2c7.png)

[2022-11-01 14:29] andreslices opened #46 "Log in details for TOMs not working"
Hello, the log in details I have been given do not work:

Username: andres.lices

[https://toms.mhtc.co.uk/guacamole/#/client/MTIzAGMAcG9zdGdyZXNxbA==](https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftoms.mhtc.co.uk%2Fguacamole%2F%23%2Fclient%2FMTIzAGMAcG9zdGdyZXNxbA%3D%3D&data=05%7C01%7CEduardo.Moral%40projectcentre.co.uk%7Cd3c1b5d2ace84856843f08da95753b4c%7C3734172ae82a4ac7a3d3

[2022-11-01 14:39] SeanC75 commented on #45
@EduardoMartin-Moral Do you have the image as either a png or svg? This was already requested by Olsandia.

[2022-11-01 14:45] EduardoMartin-Moral commented on #45
Hi @SeanC75, Gavin Reid provided this information. I have forwarded you the email. Thanks.

[2022-11-02 09:17] SeanC75 commented on #45
![edinburgh-council](https://user-images.githubusercontent.com/115094257/199451383-1b19d1f0-7b7f-4c65-a0fd-322d567effcb.png)

[2022-11-02 09:17] SeanC75 commented on #45
@benoitdm-oslandia Attached new file provided from PCL

[2022-11-02 09:45] Djedouas commented on #43
Lines that are falling on the pavement have a wrong *direction to road centerline* value

![image](https://user-images.githubusercontent.com/34267385/199457360-2548177e-7a99-4ddd-a9d0-41c7bb32b785.png)

Just change that value (try to add 90° or 180°)

[2022-11-02 09:50] EduardoMartin-Moral opened #47 "New PCL Accounts - Siyang & Wanting"
Hi,

Can you please set up two new accounts (Write_no_confirm_operator)?

Siyang.Min@projectcentre.co.uk
Wanting.Liu@projectcentre.co.uk

Thanks
Eduardo

[2022-11-02 10:01] benoitdm-oslandia commented on #45
hi @EduardoMartin-Moral, the file format is not the good one. We are looking for the original vector format (SVG). What you sent us is a raster image (PNG). Can you send us the SVG version of the file please ?

[2022-11-02 10:03] benoitdm-oslandia commented on #46
hi @andreslices, you are using the old TOMs link. Please use the one provided in the AWS email.

[2022-11-02 10:12] andreslices commented on #46
Good morning,

I am not sure what the AWS email is? Eduardo, is this something you received?

Kind regards,

Andres Lices
Senior Engineer, Waste – Communal Bin Review Project Team – Waste and Cleansing Services – Place Management – The City of Edinburgh Council – Business Centre G.4. – Waverley Court – Edinburgh – EH8 8BG M: 077 0889 9569 Email: ***@***.******@***.***>
***@***.***  Chat with me in

[2022-11-02 10:17] benoitdm-oslandia commented on #47
done!

[2022-11-02 10:17] #47 closed, assigned to benoitdm-oslandia

[2022-11-02 10:28] benoitdm-oslandia commented on #46
You have received an email with a link to login into the AppStream and with your password. This password can be changed when you first connect. The login page link and the changed password cannot be retrieved if lost, please, SAVE THEM with caution.

Then you have received a second email to inform you have been assign to the TOMs CEC application.

[2022-11-02 10:36] andreslices commented on #46
Hi,

I have tried any single password that I use without any luck.

I do not recall having changed the password.

Furthermore, for good practice I use a password manager and add/update passwords as required for each site I use. The password I saved for this site does not work.

If it is impossible to recover the password. Could my username be deleted and created again?

Kind regards,

Andres Lices

[2022-11-02 11:01] andreslices commented on #46
Hi Andres,

Yes, when a new account is created you should receive an email from AWS with the link and temporary password (see below mine for reference).
If you have not received this email please contact your IT department to make sure that if an email from @accounts-eu-west........... was sent to you and quarantined it is removed from quarantine so you can access the login page.

***@***.***

Hop

[2022-11-02 11:12] EduardoMartin-Moral commented on #45
Hi @SeanC75 ,

Would the attach work?
![edinburgh-city-council](https://user-images.githubusercontent.com/117166421/199475520-3a9cccc2-47a7-4863-8b87-55059872713d.svg)

[2022-11-02 12:40] suhaibahmad97 opened #48 "TOMS not opening"
TOMS is not opening.

I have tried logging in and out. I have used different web browsers.
This issue has been ongoing for a number of hours.

How can this issue be resolved in order to get work completed for my manager?

What is the cause of this issue?

![image](https://user-images.githubusercontent.com/117165256/199491441-c76eba1f-1eb1-4db8-bb94-e5c664fc87b3.png)

[2022-11-02 12:51] suhaibahmad97 commented on #48
When I try to log in, I receive a message.
What can be done to resolve the issue ?
![image](https://user-images.githubusercontent.com/117165256/199494228-3a62fc92-b3ee-4f91-b047-c6c255de3dd3.png)

[2022-11-02 13:00] benoitdm-oslandia commented on #48
From the first image, I can see TOMs is opening (look at the bottom 'Loading layer bay.... 13%') but I may be a bit slow.

Also if you logging/logout too quickly, it may not have the time to clean the session and to provide a new one inducing the second image.

Can you try to wait 5-10 minutes between your last logout and the next logging?

Regards

[2022-11-02 13:05] benoitdm-oslandia commented on #45
@Djedouas I uploaded the image onto the server!

[2022-11-02 15:02] Djedouas commented on #31
@Traffic-Orders

Can you please describe what is technically blocking, at which step you see that the tile version number is incorrect, so I can reproduce (and learn) the workflow, and see what the problem is?

[2022-11-02 15:04] Djedouas commented on #11
If it happens again, let me know on this issue.

[2022-11-02 15:05] Traffic-Orders opened #49 "Steven Murrell Login"
Hi,

I have been asked if Steven Murrell could please be re-issued with the Amazon weblink to access TOMs?

many thanks

[2022-11-02 15:07] EduardoMartin-Moral opened #50 "New TOMS PCL Account"
Hi,

Can you please create a new account (Write_no_confirm_operator)?
Euan.Allen@projectcentre.co.uk

Many thanks,
Eduardo

[2022-11-02 15:11] Djedouas commented on #44
Hi,

The drawings are immediately up-to-date after saving, visible to everyone.

There is no distinction between WRITE LIVE accounts, does your manager have a WRITE LIVE account also? If yes, both of you have the same permissions.

What you describe should not have happened.

I need you to reproduce the issue, and describe exactly all steps for me to test it. Thanks.

[2022-11-02 15:43] benoitdm-oslandia commented on #49
I just sent the new email.

[2022-11-02 15:46] benoitdm-oslandia commented on #50
done!

[2022-11-02 15:46] #50 closed, assigned to benoitdm-oslandia

[2022-11-02 15:48] Traffic-Orders commented on #49
Thank you :)

[2022-11-02 16:20] Djedouas commented on #41
Tiles are only included if there is at least one restriction drawn inside them.

Is it the case?

[2022-11-02 16:29] SeanC75 commented on #41
@Djedouas That is Edinburgh's understanding but not what happens as adjoining map tiles do get included in some occasions.

[2022-11-03 07:14] Djedouas commented on #41
Can you provide an example where a tile with no restriction is included?

[2022-11-03 14:00] #45 closed, assigned to benoitdm-oslandia

[2022-11-03 14:19] SeanC75 commented on #44
@suhaibahmad97 Please review the previous comment and detail the recreation steps

[2022-11-03 14:28] suhaibahmad97 commented on #44
I am unable to recreate this issue at this moment. The changes being made seem to remain.
It is difficult to see what was not saved as my manager has made these changes.
If this does occur again, I will create a new issue and detail the recreation steps.
Thank you.

[2022-11-03 14:28] #44 closed, assigned to suhaibahmad97

[2022-11-04 09:16] Djedouas commented on #42
Hillside street issue has been fixed already:

![image](https://user-images.githubusercontent.com/34267385/199933693-66697439-9e31-40b6-83ad-5203f950a879.png)

or maybe I misunderstood the question?

---

Laichfield issue is just a matter of placing the cursor on the right spot to be able to select the restriction:

![image](https://user-images.githubusercontent.com/34267385/199935356-6bfb52f5-3bf

[2022-11-04 09:18] Djedouas opened #52 "Re-write select restriction tool"
This tool is causing random map freeze, and sometime only works in small spots over the restrictions (see #42)

[2022-11-04 14:20] andreslices commented on #46
Any updates on this? I have no trace of the AWS email.

[2022-11-07 07:25] benoitdm-oslandia commented on #46
@andreslices I can resent you the email but if the issue is linked to some IT filtering, it will be useless. Do you have any confirmation from your IT, the domain `@accounts.eu-west-2.amazonappstream.com` has been allowed?

[2022-11-08 10:31] euanallen1 opened #53 "No access to TOMS"
I have lost access to TOMS mid-session. I have attempted to reload several times and cannot yet access it.
Please find attached some of the error messages received whilst trying to load TOMS.

Can this be resolved?

![Capture (TOMS 1)](https://user-images.githubusercontent.com/117725519/200541630-886107bf-34d7-4b45-bce0-5e0d8e3662c2.PNG)
![Capture (TOMS 2)](https://user-images.githubusercontent.co

[2022-11-08 10:37] #49 closed, assigned to benoitdm-oslandia

[2022-11-08 10:39] Traffic-Orders opened #54 "Tom Mochan login/setup"
Hi,

I have been asked if Tom Mochan [tom.mochan@edinburgh.gov.uk](mailto:tom.mochan@edinburgh.gov.uk) could please be re-issued with the Amazon weblink to access TOMs?

many thanks

[2022-11-08 10:59] Djedouas commented on #53
Please see my comment in [#35](https://github.com/ProjectCentreLimited/TOMs/issues/35#issuecomment-1290479368)

[2022-11-08 10:59] #53 closed, assigned to nobody

[2022-11-08 12:13] EduardoMartin-Moral opened #55 "Can't access TOMS"
Hi,

I have been working on TOMS this morning and now I can't access the system, getting the message below - Can you please help?
Thanks

![image](https://user-images.githubusercontent.com/117166421/200560684-8c9be4c8-2a46-4c0c-872a-0fee2325cc9d.png)

[2022-11-08 13:15] Djedouas commented on #55
Please see #35

This is an ongoing issue which is being worked on

[2022-11-08 13:15] #55 closed, assigned to nobody

[2022-11-08 13:22] EduardoMartin-Moral commented on #55
Hi @Djedouas, I understand but I thought it was worthwhile highlighting when it happens so you can have data of the number of users that are affected and how often we cannot access the system.

Hope this helps,
Eduardo

[2022-11-08 13:33] Djedouas commented on #55
You're right, it helps 👍🏼

Please post a comment in the existing issue when it happens 😉

[2022-11-08 16:44] benoitdm-oslandia commented on #54
I have just resent the invitation email.

[2022-11-09 10:10] suhaibahmad97 opened #56 "TOMS is very slow whilst logging in."
![image](https://user-images.githubusercontent.com/117165256/200802041-674c77f9-e9f0-451c-b754-28d993cc22da.png)

I am able to log in, however TOMS does not seem to load for a long time, quite often being stuck around 12-20 % when loading Layer bays.
I have tried different web browsers to log in and load TOMS and I have been unsuccessful.

Why is this issue occurring and what can be done to ensure

[2022-11-09 11:00] euanallen1 opened #57 "No Access to TOMS #35"
I am unable to access TOMS due to lack of streaming resources.

Can this be resolved?

![image](https://user-images.githubusercontent.com/117725519/200813029-8584e6c2-4259-4e07-a3fc-ff07fba965cd.png)

[2022-11-09 11:02] Djedouas commented on #57
Please post a comment in the already opened issue #35

Thanks

[2022-11-09 11:02] #57 closed, assigned to nobody

[2022-11-09 11:26] Djedouas commented on #35
For AWS availability issue, we requested a resource quota increase from AWS. We are waiting for the request to be approved.

[2022-11-09 11:42] Djedouas commented on #56
How long does it take to load? And does if fully load in the end or not?

[2022-11-09 11:46] benoitdm-oslandia commented on #35
@SeanC75 We have just discovered a limitation to 10 concurrent sessions. To increase this limit we had to create a dedicated AWS request (still in progress). For now we have asked to increased the limitation to 15 concurrent sessions.

Also concerning the database connection limit: we are still searching but meanwhile we have increased the limit from 100 to 500 concurrent DB connections.

Let us k

[2022-11-09 11:49] SeanC75 commented on #35
Ok great, thanks for letting me know.

Sean

From: Benoit D.-M. - oslandia ***@***.***>
Sent: 09 November 2022 11:47
To: ProjectCentreLimited/TOMs ***@***.***>
Cc: Sean Casey ***@***.***>; Mention ***@***.***>
Subject: Re: [ProjectCentreLimited/TOMs] Unable to use TOMs due to too many users being active (Issue #35)

Caution: This e-mail originates from outside MHL, exercise caution with any instru

[2022-11-09 11:53] benoitdm-oslandia commented on #56
It seems to be linked to issue #35

[2022-11-09 12:32] Traffic-Orders opened #58 "Bay data info & Construction line"
Bay data information box doesn't have the option for 12-hour restriction which we need and when selecting the 'other' option it states 'please specify in notes' but here is no note box to add info to.

Construction line - this only works intermittently

[2022-11-09 15:35] Djedouas commented on #58
@SeanC75 @Traffic-Orders where should be the "12-hour restriction" option?

If it's a needed option, I'm surprised that it has never been added in TOMs before.

Below is a screen capture of the bay form, so you can tell me where to put the option:

![image](https://user-images.githubusercontent.com/34267385/200872681-c6cc4ec9-61c3-4e82-84a2-bf198e208afa.png)

Can you be more precise? Is it reprodu

[2022-11-09 15:50] benoitdm-oslandia commented on #48
close as duplicate of #35

[2022-11-09 15:50] #48 closed, assigned to benoitdm-oslandia

[2022-11-09 16:30] Traffic-Orders opened #59 "Adam Basa Login"
Hi,

I have been asked if Adam Basa could please be re-issued with the Amazon weblink to access TOMs?

many thanks

[2022-11-09 17:39] benoitdm-oslandia commented on #59
Done!

[2022-11-09 17:39] #59 closed, assigned to benoitdm-oslandia

[2022-11-10 09:32] suhaibahmad97 commented on #35
![image](https://user-images.githubusercontent.com/117165256/201053383-95211896-24cd-4f12-8af7-479fa26b9045.png)

Hi, I have been trying to access TOMS to get work done for a project due tomorrow. It seems that some colleagues on my team have access whilst others like myself do not.

What is the best way to rectify this issue ?

[2022-11-10 09:50] WantingLiuPCL commented on #35
Hi, I cannot access the TOMs. Could you please help me with that? Thanks.
![201053383-95211896-24cd-4f12-8af7-479fa26b9045](https://user-images.githubusercontent.com/117280409/201058384-81393ce5-f23a-493e-8776-00a15693eada.png)

[2022-11-10 09:55] Djedouas commented on #35
@suhaibahmad97 @WantingLiuPCL

We have discovered a limitation of 10 maximum simultaneous users. First arrived, first served.

To increase this limit we issued a request to the infrastructure support (Amazon) which is still in progress.

Sorry for the inconvenience...

[2022-11-10 10:01] suhaibahmad97 commented on #35
I have made my colleagues and manager aware of this issue.

Thank you for providing the information.

[2022-11-10 13:41] Djedouas commented on #39
Available now!

Need to log out and log back in.

(via #38)

[2022-11-10 13:41] #39 closed, assigned to nobody

[2022-11-11 14:05] #40 closed, assigned to greid12

[2022-11-11 14:07] #54 closed, assigned to benoitdm-oslandia

[2022-11-14 08:08] benoitdm-oslandia commented on #35
The request to increase the number of simultaneous users has been accepted and we should be able to provide 20 concurrents sessions. If it is not enough we will have to create a new quota increase request (4-5 days delay).

Regards.

[2022-11-14 17:24] Djedouas commented on #43
Is this ok?

[2022-11-14 17:25] Djedouas commented on #42
Is this ok?

[2022-11-14 17:26] Djedouas commented on #41
I close this issue, please open another issue if an example where a tile with no restriction is included.

[2022-11-15 13:28] Traffic-Orders commented on #58
Hi Sean, the 12-hour restriction should be in the 'max stay' box.  We need this option when adding Electric Vehicle charging bays and we have an instruction at Director level to advertise this Order next week, so we need this issue resolved by tomorrow at latest please. Thanks

[2022-11-15 13:31] SeanC75 commented on #58
@Traffic-Orders just to clarify is this a new feature rather than something that is a bug with the current functionality?

[2022-11-15 13:34] Traffic-Orders commented on #58
Sorry, forgot to answer your query re construction lines.  I can't really be more specific as it happens almost every time that I try to add a construction line.  It won't draw the line to the length I specify using line 'd' in the advanced digitising tool.  e.g. I select the 'create construction line' tool, then select the area on the map I want the line to start from, then enter the length under

[2022-11-15 13:36] Traffic-Orders commented on #58
Hi Sean re the 'max stay' option for 12 hours - this will something new we need added to reflect the max stay for the EV charging bays.

[2022-11-15 13:45] Traffic-Orders opened #60 "Bay data: PTA box must be editable for EV bays only"
Hi, we have another issue which we will need resolved by tomorrow please (as we have an instruction at Director level to advertise the associated Order next week).  When we are adding Electric Vehicle Charging bays to streets located within the Controlled Parking Zone, we need to be able to edit the 'PTA' box which currently defaults to the tariff for the relevant parking zone.  We are unable to d

[2022-11-15 14:10] Djedouas commented on #58
So this is a new feature.

@SeanC75 This is typically the kind of minor addition that can be done directly by someone that has admin rights (the accounts with write_confirm_operator level). We will eventually organize a small training.

For today as it is an emergency I added this option.

The issue regarding the construction lines will be addressed in a dedicated issue.

[2022-11-15 14:10] #58 closed, assigned to Traffic-Orders

[2022-11-15 14:17] Djedouas opened #61 "Construction lines not reliable"
@Traffic-Orders

Creating a dedicated issue here from #58 about construction lines.

[2022-11-15 14:22] Djedouas commented on #60
Hi, I guess this is not specific to Electric Vehicle Charging bays, is it?

[2022-11-15 14:30] Traffic-Orders commented on #60
Hi, as far as I understand it the issue at the moment is only specific to EV bays as other bay types e.g pay and display, should default to the tariff for the relevant parking zone.  This is not the case for EV bays, so we need to be able to edit the PTA box when adding/editing EV bays on TOMs.  Thanks

[2022-11-15 14:49] SeanC75 commented on #58
@Traffic-Orders Please see the response above - re the 1hr option and the comment about the construction lines.

[2022-11-15 16:31] Traffic-Orders commented on #60
Yes, this is specific to EV charging bays, whereby the parking tariff area should not default to that of the CPZ area.

Thanks
Sharon

From: Jacky Volpes ***@***.***>
Sent: 15 November 2022 14:22
To: ProjectCentreLimited/TOMs ***@***.***>
Cc: Traffic Orders ***@***.***>; Author ***@***.***>
Subject: Re: [ProjectCentreLimited/TOMs] Bay data (Issue #60)

Hi, I guess this is not specific to Electric

[2022-11-15 16:44] Djedouas commented on #60
This has been developed today, and will be available at next login.

[2022-11-15 17:21] Djedouas commented on #60
Issue reopened.

Works on linux, does not work on Windows on existing bays.

@Traffic-Orders the feature partially works: if you create a new bay restriction, when you select EV bay in the restriction details you will be able to change the CPZ. I have to investigate why it does not work on existing restriction when changing the bay type.

[2022-11-15 17:46] #60 closed, assigned to nobody

[2022-11-16 14:10] benoitdm-oslandia commented on #35
The request is not effective: we are still limited to 10 instances. I have reopened the aws case in order to have this issue solved.

Regards.

[2022-11-17 09:59] Traffic-Orders opened #63 "Restrictions labels not clear on TOMs"
Hi, this is regards to the restrictions outside 101 Nicolson Street - there is a peak time loading/waiting restriction between 7.30am-9.30am and 4.00pm - 6.30pm (Mon-Fri).

Parking is allowed between 9.30am - 4pm Mon-Fri and on a Saturday between 8am - 6.30pm.

Currently these restriction times are not clear on TOMs and our Appeals team need to show this at cases gong to Tribunal.

Can you therefo

[2022-11-17 10:33] benoitdm-oslandia commented on #35
Ok the quota has been increased and I was able to test an increase to 12 instances. Now I will let the system handles the instance number and I will check if it is doing right.

Regards.

[2022-11-17 15:14] Djedouas commented on #63
Hi,

I don't understand, is something missing somewhere?
A choice in a drop-down menu maybe?

![image](https://user-images.githubusercontent.com/34267385/202484594-d6347113-d35b-47b9-908c-bdc485de6af8.png)

[2022-11-17 15:16] Djedouas commented on #56
I got no answer here, without answer, this issue will be closed soon.

[2022-11-17 15:50] suhaibahmad97 commented on #56
I have not used TOMS due to other project assignments.

If this issue occurs again, I will log this onto issue 35.

This issue can be resolved now. Thanks

[2022-11-17 16:14] #56 closed, assigned to Djedouas

[2022-11-21 10:26] Traffic-Orders commented on #63
Hi, it's the labels on the map that are not clear e.g., there only appears to be a label for the no waiting/no loading times and there doesn't appear to be a label showing the permitted parking times.  The appeals team need the map to show all the parking labels clearly.

[2022-11-23 14:25] EduardoMartin-Moral opened #64 "Extract restrictions as CAD supported format"
Hi,

Would it be possible to extract all the restrictions from a proposal (e.g. current restrictions) to a CAD supported format to create an XREF?

Thanks,
Eduardo

@andreslices FYI

[2022-11-23 14:32] EduardoMartin-Moral opened #65 "Join restrictions"
Hi,

would it be possible to add a tool in TOMS to join restrictions bays and lines?

![image](https://user-images.githubusercontent.com/117166421/203572708-bc180086-5ac2-434e-b332-ae89423d1931.png)

Thanks,

@Traffic-Orders FYI

[2022-11-24 11:07] Traffic-Orders opened #66 "New User Login required for Darren Young"
Hi, we have a new member of the TRO team, Darren Young who needs set up with a login for TOMs, mirroring the same access etc as Holly Robertson and Isabelle Knops. Thanks

[2022-11-24 11:08] Traffic-Orders commented on #66
his email address is Darren.Young@edinburgh.gov.uk

[2022-11-24 11:29] SeanC75 commented on #12
Would need further development to improve the accuracy of the line when drawing longer lines. Would be a priority 1.

[2022-11-24 11:49] SeanC75 commented on #31
Need a new example if it happens again. Oslandia to check and fix the increase tile version number so rogue tiles are removed.

[2022-11-24 12:08] Traffic-Orders commented on #63
Central Zones operate Mon to Sat 8.30am to 6.30pm & Sun 12.30pm to 6.30pm
Peripheral Zones & Extended Zones operate Mon to Fri 8.30am to 5.30pm

[2022-11-24 12:09] Traffic-Orders commented on #63
[Map Schedule Legend Template (005) as of 4.4.22.pdf](https://github.com/ProjectCentreLimited/TOMs/files/10084395/Map.Schedule.Legend.Template.005.as.of.4.4.22.pdf)

[2022-11-24 13:55] SeanC75 commented on #42
Setting to closed as a duplicate

[2022-11-24 13:55] #42 closed, assigned to nobody

[2022-11-24 13:55] SeanC75 commented on #43
Closed as a dupe

[2022-11-24 13:55] #43 closed, assigned to nobody

[2022-11-25 09:20] Djedouas commented on #12
Closed as duplicate of #36

[2022-11-25 09:20] #12 closed, assigned to Djedouas

[2022-11-25 09:26] Djedouas commented on #36
This issue is definitely critical for @Traffic-Orders and needs to be fixed.

My understanding is that it is needed to re-write all the geometry computation part. But doing so is a big work, and we need to have AWS test environment correctly setup before.

[2022-11-28 08:00] benoitdm-oslandia commented on #66
Done!

[2022-11-28 08:00] #66 closed, assigned to benoitdm-oslandia

[2022-11-28 15:25] Djedouas commented on #31
@Traffic-Orders I decreased the revision number of tiles 1220 and 1279.

Can you please verify if everything is ok now?

Thanks

[2022-11-29 12:09] andreslices commented on #46
Hello,

I have finally managed to speak with my IT administrator. They have confirmed that if it gets caught on the IT filter I should received a notification to release it manually myself.

Can you please resend and send evidence of this action to investigate or hopefully prove that it works.

Thanks very mcuh,

Andres Lices
Senior Engineer, Waste – Communal Bin Review Project Team – Waste and Cl

[2022-11-29 13:20] Traffic-Orders opened #67 "Error message whilst creating proposal"
Hi,

Could the below please be looked at, myself (Isabelle Knops) and Darren Young are getting an error message, stopping us from creating a proposal:

![proposal](https://user-images.githubusercontent.com/109733089/204539485-54f5721f-f619-4b12-ad0e-67ae838c76a3.JPG)

Many thanks

[2022-11-29 13:27] Djedouas commented on #67
Hi,

As far as I can see, there is no proposal title, which can cause this error.

[2022-11-29 13:34] Traffic-Orders commented on #67
Hi,

I can confirm that we also tried entering the proposal title, but got the following error message:
![proposal 2](https://user-images.githubusercontent.com/109733089/204542449-6fe2b55f-4d61-4b3c-917d-c56a057d68e0.JPG)

[2022-11-29 15:08] Djedouas commented on #67
This is really strange.

I checked everything I could and it seems that TOMs is doing something that it should not be able to do (actually it's trying to change attributes of proposal nb 0, rather than creating a new proposal...).

Can you (if not yet) log out and back in and try again please?

[2022-11-29 15:26] Traffic-Orders commented on #67
Hi,

Tried logging in and out again, afraid the same error message appeared.

[2022-11-29 16:53] Djedouas commented on #67
All right, I will investigate this ASAP.

In the meantime, it can be helpful to know if a person with the "WRITE (CAN CONFIRM)" rights can create a proposal.

[2022-11-30 06:05] Traffic-Orders commented on #67
I can "write (can confirm)" but also get an error message when trying to create a proposal, see snippet below
![image](https://user-images.githubusercontent.com/109733089/204720165-14d6262a-f84b-4ce4-99b9-b4cc5bb5b649.png)
Thanks
Sharon

[2022-11-30 07:20] benoitdm-oslandia commented on #46
Ok I have just recreate the account and send the email.

Regards.

[2022-11-30 10:03] andreslices commented on #46
This is perfect, emails have arrived.

Thanks for your help.

Andres Lices
Senior Engineer, Waste – Communal Bin Review Project Team – Waste and Cleansing Services – Place Management – The City of Edinburgh Council – Business Centre G.4. – Waverley Court – Edinburgh – EH8 8BG M: 077 0889 9569 Email: ***@***.******@***.***>
***@***.***  Chat with me in ***@***.***>

***@***.***

From: Benoit D.-M.

[2022-11-30 13:01] benoitdm-oslandia commented on #46
If you have been able to connect to TOMs, then can you close this issue please?

[2022-11-30 13:03] andreslices commented on #46
I have been able to log to TOMS. Is it me who needs to close it?

Thanks,

Andres Lices
Senior Engineer, Waste – Communal Bin Review Project Team – Waste and Cleansing Services – Place Management – The City of Edinburgh Council – Business Centre G.4. – Waverley Court – Edinburgh – EH8 8BG M: 077 0889 9569 Email: ***@***.******@***.***>
***@***.***  Chat with me in ***@***.***>

***@***.***

From:

[2022-11-30 13:14] benoitdm-oslandia commented on #46
You could do it at any time. But I will for now!

Regards.

[2022-11-30 13:14] #46 closed, assigned to andreslices

[2022-11-30 14:43] Djedouas commented on #67
Hi,

I cleaned the attempts made yesterday.

It appears that a proposal with an empty title was existing (created yesterday, probably the first attempt). As a result, TOMs was in an unstable state because of this special proposal title (empty).

I removed this empty proposal, and the problem is now fixed on my side, can you try again please?

Thanks.

[2022-11-30 15:04] greid12 opened #68 "Adding new restrictions and timings"
Hi,

We have a request to add a particular bay. Could i either have permissions to add new bay styles and timings of restrictions to my account or is it possible to add a loading during certain hours restrictions.

Thanks

[2022-11-30 15:05] SeanC75 commented on #67
@Traffic-Orders Could you please try again based on the comment above?

[2022-11-30 15:24] Djedouas commented on #14
@greid12 asks in #68

You can add new timings and other values in other lists.

With the WRITE CAN CONFIRM account, you can manage these lists:

![image](https://user-images.githubusercontent.com/34267385/204836981-900c5414-8ddc-4bcc-b976-3ebf58c3f065.png)

Right-click on the list you want to add a value in and select "Open Attribute Table":

![2022-11-30_16-20](https://user-images.githubuserconte

[2022-11-30 15:26] Djedouas commented on #14
@greid12 For Bay styling, do you mean the color/width/etc... of a specific bay? This can only be done by us at the moment.

[2022-11-30 15:26] Djedouas commented on #68
@greid12 please continue this discussion in #14

[2022-11-30 15:26] #68 closed, assigned to nobody

[2022-11-30 15:55] Traffic-Orders commented on #67
Hi,

Darren has given it a go and was able to create a new proposal, thank you :)

[2022-11-30 15:55] #67 closed, assigned to Traffic-Orders

[2022-11-30 16:05] Djedouas commented on #61
@Traffic-Orders

Hi,

I brought changes in the advanced digitizing tool widget behavior, which was alternating between enabled/disabled state every time a tool was selected.

The problem was (I think): if you create a point, and then go to the panel to activate it, the `d` parameter can't work until the second point is created.

You have to log out and back in for the changes to take effect.

Than

[2022-11-30 16:13] Djedouas commented on #35
@Traffic-Orders @SeanC75

No activity here for a while, which is good news.

Today there is always 2 sessions available.

The case where it can happen again: if 3 users simultaneously want to log in (in the morning typically), AWS will start 2 new sessions, and one of the users will have the "no streaming resources available" message until a session finished starting and is available.

[2022-11-30 16:18] Djedouas commented on #65
Would it be "joining on the map" so that the line between does not appear anymore, but in TOMs there is still 2 distinct restrictions?

Or joining 2 restrictions into one restriction, i.e. one selectable entity with its details?

[2022-11-30 16:22] Djedouas commented on #63
Hi,

Can you provide a screen capture of the location, please? I can't seem to find the missing labels around Nicolson street.

Also, the proposal number?

Thanks